.CartContent {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .heading {
    align-items: center;
    display: flex;
    inline-size: 100%;
    justify-content: space-between;
  }

  h2 {
    font-family: "Noto Sans Lao Looped", serif;
    font-size: 32px;
    margin: 0;
  }

  .total-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-block: 20px;

    .label {
      font-family: "Noto Sans Lao Looped", serif;
      font-size: 20px;
    }

    .number {
      font-size: 24px;
    }
  }
}
