.Footer {
  background-color: var(--text-accent);
  flex-shrink: 0;
  padding: 4px 0;
  width: 100%;
}

.Footer .container {
  max-inline-size: 1400px;
  min-block-size: 100vh;
  padding-inline: 60px;
}

.Footer .copyright {
  color: white;
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
