.CartRow {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-rows: 3;
  padding-block: 20px;
  padding-inline-start: 70px;
  position: relative;
}

.CartRow .product-cell {
  grid-column: 1/3;
  grid-row: 1/2;
}

.CartRow .product-cell .image {
  block-size: 60px;
  inline-size: 60px;
  inset-inline-start: 0;
  object-fit: cover;
  position: absolute;
}

.CartRow .product-cell .text .item-name {
  color: black;
  font-family: "Noto Sans Lao Looped", serif;
  font-size: 20px;
  text-decoration: none;
}

.CartRow .product-cell .text .item-name:hover {
  text-decoration: underline;
}

.CartRow .product-cell .text .item-options {
  font-size: 18px;
}

.CartRow .price-cell {
  grid-column: 1/3;
  grid-row: 2/3;
  padding-block: 8px;
}

.CartRow .total-cell {
  font-size: 20px;
  font-weight: 700;
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: right;
}

.CartRow .quantity-cell {
  grid-column: 1/2;
  grid-row: 3/4;
}

.CartRow .remove-cell {
  align-items: center;
  display: flex;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-inline-start: 0;
}

@media (min-width: 430px) {
  .CartRow .remove-cell {
    margin-inline-start: -10px;
  }
}

@media (min-width: 450px) {
  .CartRow .remove-cell {
    margin-inline-start: -20px;
  }
}

@media (min-width: 480px) {
  .CartRow .remove-cell {
    margin-inline-start: -30px;
  }
}

@media (min-width: 550px) {
  .CartRow .remove-cell {
    margin-inline-start: -40px;
  }
}

.CartRow .remove-button {
  align-items: center;
  background-color: transparent;
  border-width: 0;
  block-size: 42px;
  display: flex;
  inline-size: 42px;
  justify-content: center;
}

.CartRow .remove-button svg {
  block-size: 42px;
  inline-size: 42px;
}

.CartRow .remove-button:hover {
  cursor: pointer;
}

@media (min-width: 400px) {
  .CartRow {
    padding-inline-start: 120px;
  }

  .CartRow .product-cell .image {
    block-size: 100px;
    inline-size: 100px;
  }
}
