.CartRow {
  padding-block: 20px;
}

.CartRow td {
}

.CartRow .product-col {
  display: flex;
}

.CartRow .image {
  block-size: 100px;
  inline-size: 100px;
  object-fit: cover;
}

.CartRow .item-name {
  color: black;
  font-family: "ChongModernW01", serif;
  font-size: 20px;
  text-decoration: none;
}

.CartRow .item-name:hover {
  text-decoration: underline;
}

.CartRow .item-options {
  font-size: 18px;
}

.CartRow .total-cell {
  font-size: 20px;
  font-weight: 700;
}

.CartRow .remove-button {
  align-items: center;
  background-color: transparent;
  border-width: 0;
  block-size: 42px;
  display: flex;
  inline-size: 42px;
  justify-content: center;
}

.CartRow .remove-button:hover {
  cursor: pointer;
}
