.productDetailsPage {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.productDetailsPage .images {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-inline-size: 50%;
  row-gap: 10px;
}

.productDetailsPage .image:first-child {
  max-inline-size: 100%;
}

.productDetailsPage .image {
  inline-size: 100%;
  object-fit: cover;
}

.productDetailsPage .info {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.69px;
}

.productDetailsPage h1 {
  font-family: "Noto Sans Lao Looped", serif;
  font-size: 50px;
}

.productDetailsPage .price {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.69px;
}

.productDetailsPage .SubmitButton {
  margin-block: 20px;
}

.productDetailsPage .description {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1.69px;
}

@media (min-width: 800px) {
  .productDetailsPage {
    flex-direction: row;
  }

  .productDetailsPage .info {
    max-inline-size: 45%;
    padding-inline-start: 60px;
  }
}

@media (min-width: 1200px) {
  .productDetailsPage .image {
    max-inline-size: 49%;
  }
}
