.Cart {
  animation: fadein 0.2s;
  block-size: 100%;
  max-block-size: 100%;
  inline-size: 500px;
  margin-block: 0;
  margin-inline-end: 0;
  padding: 0;
  position: relative;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Cart::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.Cart .no-dismiss {
  inset: 0;
  position: absolute;
}
