.Cart {
  block-size: 100%;
  max-block-size: 100%;
  inline-size: 500px;
  margin-block: 0;
  margin-inline-end: 0;
  position: relative;
}

.Cart::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.Cart .no-dismiss {
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
}

.Cart .heading {
  align-items: center;
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
}

.Cart h2 {
  font-family: "ChongModernW01", serif;
  font-size: 32px;
  margin: 0;
}

.Cart .close {
  align-items: center;
  background: transparent;
  block-size: 50px;
  border-width: 0;
  display: flex;
  inline-size: 50px;
  justify-content: center;
}

.Cart .close:hover {
  cursor: pointer;
}

.Cart .submit {
  block-size: 60px;
  inline-size: 100%;
}
