.header {
  border-block-end: 1px solid black;
}

.header .container {
  align-items: center;
  block-size: 60px;
  display: flex;
  max-inline-size: 1400px;
  margin: 0 auto;
  padding-inline: 60px;
  justify-content: space-between;
}

.header .brand {
  color: var(--text-accent);
  font-family: "Noto Sans Lao Looped", serif;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.header .inline-end-links {
  display: flex;
}

.header .favorites {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-inline-end: 10px;
}

.header .favorites svg {
  block-size: 30px;
  inline-size: 30px;
}

.Cart {
  padding: 0;
}
