.QuantityPicker label {
  display: block;
  font-size: 17px;
  margin-block-start: 20px;
}

.QuantityPicker .picker {
  block-size: 60px;
  border: 1px solid black;
  display: flex;
  inline-size: 142px;
  margin-block-start: 10px;
}

.QuantityPicker input {
  appearance: none;
  block-size: 100%;
  border-width: 0;
  font-size: 18px;
  inline-size: 50px;
  padding: 0;
  text-align: center;
}

.QuantityPicker input[type="number"]::-webkit-inner-spin-button,
.QuantityPicker input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.QuantityPicker .helper {
  color: var(--text-accent);
  font-size: 16px;
  margin-block-start: 4px;
}

.QuantityPicker .error {
  font-size: 16px;
  margin-block-start: 4px;
}

.QuantityPicker button {
  align-items: center;
  background: transparent;
  block-size: 100%;
  border-width: 0;
  display: flex;
  font-size: 24px;
  inline-size: 45px;
  justify-content: center;
}

.QuantityPicker button:hover {
  cursor: pointer;
}

.QuantityPicker button svg {
  block-size: 18px;
  inline-size: 18px;
}

.QuantityPicker.error .picker {
  border: 3px solid var(--halaya-ube);
}

.QuantityPicker .error {
  color: var(--halaya-ube);
}
