.productList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.productList .productList-item {
  flex-basis: 100%;
  flex-grow: 1;
  max-inline-size: 100%;
  padding: 2px;
}

.productlist .productList-item:hover {
  border: 1px solid grey;
  cursor: pointer;
}

@media (min-width: 550px) {
  .productList .productList-item {
    flex-basis: 50%;
    max-inline-size: 50%;
  }
}

@media (min-width: 750px) {
  .productList .productList-item {
    flex-basis: 33.3333333%;
    max-inline-size: 33.3333333%;
  }
}

@media (min-width: 1200px) {
  .productList .productList-item {
    flex-basis: 25%;
    max-inline-size: 25%;
  }
}
