.productTile {
  inline-size: 100%;
  position: relative;
}

.productTile:hover::before,
.productTile:focus-within::before {
  content: "";
  position: absolute;
  border-radius: 9px;
  top: -9px;
  right: -9px;
  bottom: -9px;
  left: -9px;
  z-index: -1;
  box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
  background: #fff;
  transform: scale(0.96);
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),
    opacity 150ms ease-out, border-color 200ms ease-out;
}

.productTile:hover .name,
.productTile:focus-within .name {
  text-decoration: underline;
}

.productTile .link {
  display: block;
  padding: 8px;
  text-decoration: none;
}

.productTile .name {
  color: var(--text-accent);
  font-family: "Noto Sans Lao Looped", serif;
  font-size: 20px;
  margin-block-start: 20px;
  margin-block-end: 10px;
  text-decoration: none;
}

.productTile .price {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 600;
  padding-block-end: 20px;
}

.productTile .image {
  block-size: 200px;
  inline-size: 100%;
  object-fit: cover;
}

.productTile .FavoriteButton {
  inset-block-start: 14px;
  inset-inline-end: 14px;
  position: absolute;
}
