.productTile {
  background-color: aliceblue;
  inline-size: 100%;
}

.productTile .name {
  color: var(--text-accent);
  font-family: "Chong Modern", serif;
  font-size: 20px;
}

.productTile .price {
  color: var(--text-primary);
  font-size: 18px;
}

.productTile .image {
  block-size: 200px;
  inline-size: 100%;
  object-fit: cover;
}
