.productDetailsPage {
  display: flex;
  flex-direction: column;
  gap: 60px;
  inline-size: 100%;
}

.productDetailsPage .info {
  flex-basis: 50%;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.69px;
}

.productDetailsPage .price {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.69px;
}

.productDetailsPage .SubmitButton {
  margin-block: 20px;
}

.productDetailsPage .description {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1.69px;
}

@media (min-width: 800px) {
  .productDetailsPage {
    flex-direction: row;
    gap: 60px;
  }

  .productDetailsPage .info {
    max-inline-size: 45%;
  }
}
