.IconButton {
  align-items: center;
  background-color: var(--white-default);
  border-width: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.IconButton.hasBoxShadow {
  box-shadow: rgba(34, 34, 34, 0.25) 0px 4px 20px;
}

.IconButton:hover,
.IconButton:focus-visible {
  background-color: var(--white-hover-focus);
  cursor: pointer;
  transition: background-color 0.2s;
}

.IconButton:active {
  background-color: var(--white-active);
  cursor: pointer;
}

.IconButton.medium {
  block-size: 44px;
  inline-size: 44px;
}

.IconButton.medium svg {
  block-size: 24px;
  inline-size: 24px;
}

.IconButton.large {
  block-size: 56px;
  inline-size: 56px;
}

.IconButton.large svg {
  block-size: 30px;
  inline-size: 30px;
}
