.CheckoutPage .container {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;

  form {
    inline-size: 50%;
    .inline-fields-3 {
      display: grid;
      gap: 20px;
      grid-template-columns: 2fr 1fr 1fr;
    }
    .inline-fields-2 {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .cart-column {
    flex-shrink: 0;
    inline-size: 500px;

    .total-row {
      align-items: center;
      display: flex;
      font-family: "Noto Sans Lao Looped", serif;
      font-size: 1.2rem;
      justify-content: space-between;
      padding-block: 0.2rem;

      &.final-total {
        font-weight: bold;
      }
    }
  }
}
