.Select {
  label {
    display: block;
    font-size: 17px;
    margin-block-start: 20px;
  }

  .select-styled {
    align-items: center;
    block-size: 60px;
    border: 1px solid var(--border-primary);
    border-radius: 0;
    cursor: pointer;
    display: grid;
    font-size: 18px;
    grid-template-areas: "select";
    line-height: 1.1;
    margin-block-start: 10px;
    max-inline-size: 12rem;
    position: relative;

    select,
    &::after {
      grid-area: select;
    }

    /* Custom arrow */
    &::after {
      background-color: var(--border-primary);
      block-size: 0.5em;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      content: "";
      inline-size: 0.8em;
      justify-self: end;
      margin-inline-end: 20px;
    }

    select {
      /* A reset of styles, including removing the default dropdown arrow */
      appearance: none;
      background-color: transparent;
      block-size: 100%;
      border: none;
      cursor: inherit;
      font-family: inherit;
      font-size: inherit;
      inline-size: 100%;
      line-height: inherit;
      padding-inline: 20px;
      margin: 0;

      /* Stack above custom arrow */
      z-index: 1;
    }
  }
}
