.SubmitButton {
  block-size: 60px;
  flex-shrink: 0;
  font-size: 20px;
  inline-size: 100%;
  margin-block: 0;
}

.SubmitButton:hover {
  cursor: pointer;
}

.SubmitButton.primary {
  background: var(--text-accent);
  border-width: 0;
  color: white;
}

.SubmitButton.primary:hover,
.SubmitButton.primary:focus-visible {
  background: var(--text-accent-hover-focus);
  transition: background-color 0.2s;
}

.SubmitButton.primary:active,
.SubmitButton.primary:focus-visible {
  background: var(--text-accent-active);
  transition: background-color 0.2s;
}

.SubmitButton.secondary {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.SubmitButton.secondary:hover {
  border: 2px solid black;
}
