.SubmitButton {
  block-size: 60px;
  flex-shrink: 0;
  font-size: 20px;
  inline-size: 100%;
  margin-block: 0;
}

.SubmitButton:hover {
  cursor: pointer;
}

.SubmitButton.primary {
  background: var(--text-accent);
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: white;
}

.SubmitButton.primary:hover {
  border-color: var(--text-accent);
}

.SubmitButton.secondary {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.SubmitButton.secondary:hover {
  border: 2px solid black;
}
