.CartButton {
  align-items: center;
  background-color: transparent;
  block-size: 60px;
  border-width: 0;
  display: flex;
  inline-size: 60px;
  justify-content: center;
  padding: 0;
}

.CartButton:hover {
  cursor: pointer;
}

.CartButton svg path {
  fill: var(--text-primary);
  stroke: var(--text-primary);
}
