.ImageGallery {
  column-gap: 10px;
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  max-inline-size: 100%;
  padding: 0;
  row-gap: 10px;
}

.ImageGallery .listItem:first-child {
  max-inline-size: 100%;
}

.ImageGallery .listItem {
  inline-size: 100%;
}

.ImageGallery .listItem .image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .ImageGallery .listItem {
    max-inline-size: 49%;
  }
}
