:root {
  --text-primary: rgb(50, 50, 50);
  --text-accent: rgb(97, 108, 64);
  --deep-space-sparkle: #40616c;
  --halaya-ube: #6c4061;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-block-size: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  margin-block: 40px;
  max-inline-size: 1400px;
  padding-inline: 60px;
}

.overflow-hidden {
  block-size: 100vh;
  overflow: hidden;
}
