:root {
  --text-primary: rgb(50, 50, 50);
  --text-accent: rgb(97, 108, 64);
  --deep-space-sparkle: #40616c;
  --halaya-ube: #6c4061;
  --error: #a80014;
  --compact-inline: 20px;
  --regular-inline: 60px;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-block-size: 100vh;
}

main {
  flex-grow: 1;
  inline-size: 100%;
  margin: 0 auto;
  margin-block: 40px;
  max-inline-size: 1400px;
  padding-inline: var(--compact-inline);
}

.overflow-hidden {
  block-size: 100vh;
  overflow: hidden;
}

@media (min-width: 420px) {
  main {
    padding-inline: var(--regular-inline);
  }
}
