:root {
  --border-primary: rgb(50, 50, 50);
  --text-primary: rgb(50, 50, 50);
  --text-accent: rgb(97, 108, 64);
  --text-accent-hover-focus: rgb(77, 86, 51);
  --text-accent-active: rgb(67, 75, 44);
  --deep-space-sparkle: #40616c;
  --raspberry: rgb(140, 0, 82);
  --white-default: rgb(255, 255, 255);
  --white-hover-focus: rgb(245, 245, 245);
  --white-active: rgb(240, 240, 240);
  --error: #a80014;
  --compact-inline: 20px;
  --regular-inline: 60px;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-block-size: 100vh;
}

.overflow-hidden {
  block-size: 100vh;
  overflow: hidden;
}
